#upload-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  max-width: 70%;
  margin-top: 10%;
}
.upload-container{
  padding: 5%;
  margin: 2%;
}
