#page-wrap{
  display: flex;
  flex-direction: column;
}
#header-wrap{
  width: 90%;
  margin:auto;

}
#header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

}
#prof-pic-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
#prof-pic{
  max-width: 6em;
  max-height: 6em;
  border-radius: 50%;
  position: relative;
  padding: 20px;
}

#prof-pic-drag{
  position: absolute;
  opacity: .5;
  margin-left: -10%;
}
#upload{
  position: absolute;
  opacity: .5;
  margin-left: -10%;
}
#upload:hover{
  opacity: .8;
}
.hidden{
  display: none;
}
#page-body{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-content: center;
}
#artist-info{
  margin-left: 5%;
  border: solid 1px black;
  background-color:#e3fffd;
  height: 100%;
  width: 20%;
}
#info-wrap{
  padding: 10px;
}
#artist-tracks{
  height: 100%;
  width: 90%;

}
#construction1{
  width: 100%;
  height: 100%;
}
