
.login-form{
  margin: auto;
}
.errors{
  overflow-wrap: normal;
}
.errorItem{
  margin: none;
  color: rgb(207, 4, 4);
}
#submit{
  background-color: #ff5500;
  color: #fff;
  cursor: pointer;
}
#submit:hover{
  background-color: #e76f34;
}
